@use "../../src/" as sassy with (
    $bf-debug: false,
    $bf-full: false
);

html {
    font-family: serif;
    @extend %bf-height-100;

    @include sassy.util-up(
        font-family (md: Arial)
    );
}

body {
    @extend %bf-d-flex-lg;
    @extend %bf-flex-column-lg;
    @extend %bf-height-100-lg;
}

header {
    @extend .wrap;
    @extend %bf-d-flex;
    @extend %bf-f-weight-600-lg;
    @extend %bf-flex-justify-between;
    @extend %bf-flex-align-items-centre;
    @include sassy.util-up(
        height (sm: 50px)
    );
}

main {
    @extend .wrap;
    @extend %bf-bg-red-500;
    @extend %bf-bg-cyan-200-lg;
    @extend %bf-rounded;
}

footer {
    @extend .wrap;
    @extend %bf-f-style-italic;
    @extend %bf-mt-auto;
    @extend %bf-t-align-centre;
    @extend %bf-t-transform-upper-lg;
}

div.footer-gone {
    @extend %bf-colour-red-800;
    @extend %bf-d-none;
    @extend %bf-d-block-lg;
    @extend %bf-t-align-centre;
    @extend %bf-t-transform-capitalise;
}

div.test {
    @extend %bf-bg-green-500;
    @extend %bf-mt-5;
    @extend %bf-mt-10-lg;
    @extend %bf-opacity-50;
    @extend %bf-opacity-100-md;
    @extend %bf-pt-4;
    @extend %bf-pb-4;
    @extend %bf-rounded;
    @extend %bf-t-align-centre;
    @extend %bf-t-decoration-through-2xl;

    @include sassy.util-up(
        width (sm: 50%, xl: 100%)
    );

    span {
        @extend %bf-border-2;
        @extend %bf-border-top-0-xl;
        @extend %bf-border-orange-400;
    }
}

div.shadow {
    @extend %bf-border-1;
    @extend %bf-border-grey-400;
    @extend %bf-rounded-md;
    @extend %bf-m-centre;
    @extend %bf-mt-5;
    @extend %bf-p-3;
    @extend %bf-shadow-1;
    @extend %bf-shadow-2-sm;
    @extend %bf-shadow-3-md;
    @extend %bf-shadow-0-lg;
    @extend %bf-t-align-centre;
    @extend %bf-width-50;
}
