//  =================================================================
//  Base
//  =================================================================

$bf-debug: false !default;
$bf-full: false !default;

$bf-prefix: "bf" !default;
$bf-separator: "-" !default;
$bf-loop-max: 20 !default;

$bf-sides: (
    t: top,
    e: right,
    b: bottom,
    s: left
);



//  =================================================================
//  20: Layout
//  =================================================================

@import "20-layout-variables";



//  =================================================================
//  21: Colour
//  =================================================================

@import "21-colour-variables";



//  =================================================================
//  22: Display
//  =================================================================

@import "22-display-variables";



//  =================================================================
//  23: Text
//  =================================================================

@import "23-text-variables";



//  =================================================================
//  24: Border
//  =================================================================

@import "24-border-variables";



//  =================================================================
//  30: Rounded
//  =================================================================

@import "30-rounded-variables";



//  =================================================================
//  31: Shadow
//  =================================================================

@import "31-shadow-variables";
