@use "10-variables" as *
@use "10-variables-colours" as *
@use "11-make" as make

/*  Text Colours
    =================================================================

@include make.responsive("colour", $bf-colours) using ($value)
    color: $value



/*  Background Colours
    =================================================================

@include make.responsive("bg", $bf-colours) using ($value)
    background-color: $value



/*  Border Colours
    =================================================================

@include make.responsive("border", $bf-colours) using ($value)
    border-color: $value



/*  Opacity
    =================================================================

@for $i from 0 through 10
    @include make.responsive("opacity", ($i * 10)) using ($value)
        opacity: calc($value / 100)
