$bf-f-style: (
    inherit,
    initial,
    italic,
    normal,
    oblique
);

$bf-f-weight: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
);

$bf-t-align: (
    center,
    inherit,
    initial,
    justify,
    left,
    right
);

$bf-t-decoration: (
    through: line-through,
    inherit: inherit,
    initial: initial,
    none: none,
    over: overline,
    under: underline
);
