$bf-f-style: (
    inherit,
    initial,
    italic,
    normal,
    oblique
);

$bf-f-weight: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
);

$bf-t-align: (
    centre: center,
    inherit: inherit,
    initial: initial,
    justify: justify,
    left: left,
    right: right
);

$bf-t-decoration: (
    through: line-through,
    inherit: inherit,
    initial: initial,
    none: none,
    over: overline,
    under: underline
);

$bf-t-transform: (
    capitalise: capitalize,
    inherit: inherit,
    initial: initial,
    lower: lowercase,
    none: none,
    upper: uppercase
);
