:root {
    --bf-font-family-mono: "Fira Code", Monaco, Consolas, monospace;
    --bf-font-family-sans: system-ui, -apple-system, Roboto, "Helvetica Neue", Arial, sans-serif;
    --bf-font-family-serif: "";
    --bf-font-size-base: 1rem;
    --bf-font-weight-base: 400;
    --bf-line-height-base: 1.5;

    --bf-body-colour: #1f2937; // grey-800
    --bf-body-font-family: var(--bf-font-family-sans);
    --bf-body-font-size: var(--bf-font-size-base);
    --bf-body-font-weight: var(--bf-font-weight-base);
    --bf-body-line-height: var(--bf-line-height-base);
}

$bf-font-family: (
    mono: var(--bf-font-family-mono),
    sans: var(--bf-font-family-sans),
    serif: var(--bf-font-family-serif)
);

$bf-font-size: (
    1: calc(var(--bf-font-size-base) * 2),
    2: calc(var(--bf-font-size-base) * 1.8),
    3: calc(var(--bf-font-size-base) * 1.6),
    4: calc(var(--bf-font-size-base) * 1.4),
    5: calc(var(--bf-font-size-base) * 1.2),
    6: calc(var(--bf-font-size-base) * 1.1),
    base: var(--bf-font-size-base),
    small: calc(var(--bf-font-size-base) * 0.8),
    smaller: calc(var(--bf-font-size-base) * 0.7),
    smallest: calc(var(--bf-font-size-base) * 0.6)) !default;

$bf-font-style: (
    inherit,
    initial,
    italic,
    normal,
    oblique
);

$bf-font-weight: (
    100,
    200,
    300,
    400,
    500,
    600,
    700,
    800,
    900
);

$bf-line-height: (
    base: var(--bf-line-height-base),
    double: 2,
    single: 1,
    triple: 3,
);

$bf-text-align: (
    centre: center,
    inherit: inherit,
    initial: initial,
    justify: justify,
    start: left,
    end: right
);

$bf-text-decoration: (
    through: line-through,
    inherit: inherit,
    initial: initial,
    none: none,
    over: overline,
    under: underline
);

$bf-text-transform: (
    capitalise: capitalize,
    inherit: inherit,
    initial: initial,
    lower: lowercase,
    none: none,
    upper: uppercase
);
