@use "10-variables" as *
@use "11-make" as make

/*  =================================================================
    Flex Rows and Columns
    =================================================================

@include make.responsive("d-flex-row", ())
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0

    @include make.responsive("col", $bf-col) using ($value)
        flex: 0 0 auto
        margin: 0
        padding: 0
        width: calc(100% * calc($value / 12))
