:root {
    --bf-theme-primary: #0284c7; // Sky 600
    --bf-theme-secondary: #14b8a6; // Teal 500
    --bf-theme-ok: #16a34a; // Green 600
    --bf-theme-info: #d4d4d8; // Zinc 300
    --bf-theme-warn: #fbbf24; // Amber 400
    --bf-theme-error: #ef4444; // Red 500
    --bf-theme-grey-light: #d1d5db; // Grey 300
    --bf-theme-grey-dark: #4b5563; // Grey 600
}


$bf-theme: (
    primary: var(--bf-theme-primary),
    secondary: var(--bf-theme-secondary),
    ok: var(--bf-theme-ok),
    info: var(--bf-theme-info),
    warn: var(--bf-theme-warn),
    error: var(--bf-theme-error),
    grey: var(--bf-theme-grey-light)
);

$bf-theme-shadow: ();
@each $name, $colour in $bf-theme {
    @each $size, $shadow in get-shadow-colours($colour) {
        $class: #{join-values(($name $size))};
        $bf-theme-shadow: map-merge($bf-theme-shadow, ($class: $shadow));
    }
}
