//  =================================================================
//  Base
//  =================================================================

$bf-version: 0.1;

$bf-debug: false !default;
$bf-full: false !default;

$bf-prefix: "bf" !default;
$bf-separator: "-" !default;
$bf-loop-max: 20 !default;

$bf-sides: (
    t: top,
    e: right,
    b: bottom,
    s: left
);


/// Joins a list of items using $bf-separator.
///
/// @param {any} $var
///     String or list of strings.
/// @return {string}
///     Values separated by $bf-separator.
@function join-values($val) {
    @if type-of($val) == list {
        $joined: nth($val, 1);
        @for $i from 2 through length($val) {
            $joined: $joined + $bf-separator + nth($val, $i)
        }
        @return $joined;
    }
    @else {
        @return join-values(($val));
    }
}



//  =================================================================
//  20: Layout
//  =================================================================

@import "20-layout-variables";



//  =================================================================
//  21: Colour
//  =================================================================

@import "21-colour-variables";



//  =================================================================
//  22: Display
//  =================================================================

@import "22-display-variables";



//  =================================================================
//  23: Text
//  =================================================================

@import "23-text-variables";



//  =================================================================
//  24: Border
//  =================================================================

@import "24-border-variables";



//  =================================================================
//  30: Rounded
//  =================================================================

@import "30-rounded-variables";



//  =================================================================
//  31: Shadow
//  =================================================================

@import "31-shadow-variables";



//  =================================================================
//  40: Theme
//  =================================================================

@import "40-theme-variables";



//  =================================================================
//  41: Grid
//  =================================================================

@import "41-grid-variables";
